.footer__link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  color: white;
}

.footer__link:last-child {
  margin-left: 16px;
}

.footer__link:hover {
  opacity: 50%;
  font-style: bold;
  cursor: pointer;
}
